<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-airgap-utilities" version="1.0.0">
	<name>AirGap Security Utilities</name>
<!--	<js-module name="Security" src="www/security.js">-->
<!--		<runs />-->
<!--		<clobbers target="Security"/>-->
<!--	</js-module>-->
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="Security">
				<param name="ios-package" value="SecurityPlugin"/>
				<param name="onload" value="true" />
			</feature>
		</config-file>
		<source-file src="src/ios/SecurityPlugin.swift"/>
		<source-file src="src/ios/SecureScreen.swift"/>
	</platform>
</plugin>
