<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-airgap-security-utils" version="0.3.6">
	<name>AirGap Security Utilities</name>
	<js-module name="SecurityUtils" src="www/security-utils.js">
		<runs />
		<clobbers target="SecurityUtils"/>
	</js-module>
	<!-- iOS -->
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="SecurityUtils">
				<param name="ios-package" value="SecurityUtilsPlugin"/>
				<param name="onload" value="true" />
			</feature>
		</config-file>
		<header-file src="src/ios/SecurityUtils-Bridging-Header.h" />
		<source-file src="src/ios/SecurityUtilsPlugin.swift"/>
		<source-file src="src/ios/SecureScreen.swift"/>
		<source-file src="src/ios/DeviceIntegrity.swift"/>
		<source-file src="src/ios/SecureStorage.swift"/>
    	<source-file src="src/ios/LocalAuthentication.swift"/>
		<source-file src="src/ios/Keychain.swift"/>
	</platform>
	<!-- Android -->
    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="SecurityUtils">
          <param name="android-package" value="ch.airgap.securityutils.SecurityUtils" />
          <param name="onload" value="true" />
        </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml"/>
      <framework custom="true" src="src/android/security-utils.gradle" type="gradleReference"/>
      <resource-file src="androidlibs/ch-papers-securestorage.aar" target="libs/ch-papers-securestorage.aar"/>
      <resource-file src="src/android/build-extras.gradle" target="build-extras.gradle"/>
      <source-file src="src/android/ch/airgap/securityutils/SecurityUtils.java" target-dir="src/ch/airgap/securityutils/" />
    </platform>
	<!-- browser -->
    <platform name="browser">
        <js-module src="src/browser/SecureStorageProxy.js" name="SecureStorageProxy">
            <runs />
        </js-module>
    </platform>
</plugin>
